/**
 * @file
 * RTL companion for the global-states.css file.
 */

/* =============================================================================
   Drupal form widgets
   ========================================================================== */

.fieldset-legend {
  html.js .collapsible & {
    background-position: 98% 75%;
    padding-left: 0;
    padding-right: 15px;
  }
  html.js .collapsed & {
    background-image: inline-image("menu-collapsed-rtl.png");
    @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
      *background-image: url(../images/menu-collapsed-rtl.png);
    }
    background-position: 98% 50%;
  }
}
